.item-product {
    float: left;
    background-color: rgb(235, 235, 235);
    border: 10px;
    padding: 30px;
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    img {
        width: 100%;
    }
}

p {
    font-weight: bolder;
}

.price {
    font-weight: bolder;
}